.dropdown-container {
  max-width: 250px;
  margin: 40px auto;
  text-align: center;
  line-height: 50px;  
  font-size: 15px;
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.menu-title {
  background-color: rgb(163, 162, 162);
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(99, 97, 97);
  /*TOD=*/
  animation: dropDown 670ms ease-in-out forwards;
  transform-origin: 100% 0%;
  display: none;
}

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  20% {
    opacity: 0.2;
    transform: scaleY(0.3);
  }
  40% {
    opacity: 0.4;
    transform: scaleY(0.5);
  }
  60% {
    opacity: 0.6;
    transform: scaleY(0.75);
  }
  70% {
    opacity: 0.8;
    transform: scaleY(0.85);
  }
  85% {
    opacity: 0.8;
    transform: scaleY(0.95);
  }
  90% {
    opacity: 0.8;
    transform: scaleY(1.05);
  }
  95% {
    opacity: 0.8;
    transform: scaleY(1.12);
  }
  97% {
    transform: scaleY(1.07);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    
  }
}

ul.dropdown-menu li:hover {
  background: rgb(47, 46, 46);
}

.visible {
  display: block;
}


